<div class="modal fade" id="desvincularProdutoPlanoModal" tabindex="-1" aria-labelledby="desvincularProdutoPlanoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form method="POST" action="{{ url_for('produtos_bp.desvincular_produto_planos') }}">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="desvincularProdutoPlanoModalLabel">Desvincular Produto(s) do Contrato</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="desvincular_plano_id_produtos" class="form-label">Selecione um Plano:</label>
            <select class="form-select" name="desvincular_plano_id_produtos" id="desvincular_plano_id_produtos" required>
            </select>
          </div>

          <div class="mb-3">
            <label for="produtos_vinculados" class="form-label">Produtos Vinculados:</label>
            <select class="form-select" name="produto_ids" id="produtos_vinculados" multiple required size="10">
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Desvincular</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/planos/popup_js/popup_desvincular_produto_planos.js') }}"></script>
