<div class="modal fade" id="vincularProdutoPlanoModal" tabindex="-1" aria-labelledby="vincularProdutoPlanoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form method="POST" action="{{ url_for('produtos_bp.vincular_produto_planos') }}">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="vincularProdutoPlanoModalLabel">Vincular Produto(s) ao Plano</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="plano_vincular_produto" class="form-label">Selecione um Plano:</label>
            <select class="form-select" name="plano_vincular_produto" id="plano_vincular_produto" required>
            </select>
          </div>

          <div class="mb-3">
            <label for="vincular_produto_id" class="form-label">Selecione Produto(s):</label>
            <select class="form-select" name="vincular_produto_id" id="vincular_produto_id" multiple required size="10">
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Vincular</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/contratos/popup_js/popup_vincular_produto.js') }}"></script>
