<div class="modal fade" id="vincularContractPlanoModal" tabindex="-1" aria-labelledby="vincularContractPlanoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form method="POST" action="{{ url_for(('planos_bp.vincular_contratos_planos')) }}">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="vincularContractPlanoModalLabel">Vincular Contrato ao Plano</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="selecione_plano" class="form-label">Selecione um Plano:</label>
            <select class="form-select" name="selecione_plano" id="selecione_plano" required>
            </select>
          </div>

          <div class="mb-3">
            <label for="contrato_id_vincular_plano" class="form-label">Selecione Contratos:</label>
            <select class="form-select" name="contrato_id_vincular_plano" id="contrato_id_vincular_plano" multiple required size="10">
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Vincular</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="{{ url_for('static', filename='js/planos/popup_js/popup_vincular_contratos_planos.js') }}"></script>
