/* Estilos do footer */
.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 200px; /* Ajuste o valor conforme necessário */
}


.footer .social-links a {
    color: #007bff;
    margin: 0 10px;
    text-decoration: none;
}

.footer .social-links a:hover {
    color: #0056b3;
}

.footer .credits a {
    color: #007bff;
    text-decoration: none;
}

.footer .credits a:hover {
    text-decoration: underline;
}


/* Responsividade para o footer */
@media (max-width: 576px) {
    .footer {
        padding: 5px;
    }

    .footer .social-links {
        margin-top: 50px;
    }

    .footer .social-links a {
        margin: 0 5px;
    }
}
