
<div class="modal fade" id="deleteVendedoresModal" tabindex="-1" aria-labelledby="deleteVendedoresModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteVendedoresModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <!-- Modal de Exclusão -->
                    <form id="deleteVendedorForm" action="{{ url_for('vendedores_bp.delete_vendedores') }}" method="POST">
                        <label for="delete_codigo_vendedores" class="form-label">Código do Vendedor</label>
                        <input type="text" class="form-control" id="delete_codigo_vendedores" name="codigo">
                        <div class="alert alert-warning mt-3">
                            <i class="bi bi-exclamation-triangle-fill me-2"></i>
                            Atenção! Esta ação é irreversível. Todos os dados do contrato serão permanentemente excluídos.
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash me-2"></i>Confirmar Exclusão
                </button>
            </div>
            </form>
        </div>
    </div>
</div>