{% if not cliente %}
    <div class="alert alert-warning">
        No client found. Please create a new client or select an existing one.
    </div>
{% else %}
    <!-- Create Contract Modal -->
    <div class="modal fade" id="updateClientModal" tabindex="-1" aria-labelledby="updateClientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-warning text-white">
                    <h5 class="modal-title" id="updateClientModalLabel">Editar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contractForm" action="{{ url_for('cliente_bp.update_cliente') }}" method="POST">

                        <!-- New Section: Search Clients -->
                        <div class="card mb-2">
                            <div class="card-header bg-light">
                                <h5 class="mb-0">Procurar Clientes</h5>
                            </div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="search_client" class="form-label">Insira a Sequência, CNPJ ou Razão Social do Cliente:</label>
                                        <input type="text" class="form-control" id="search_edit_client" name="search_edit_client" placeholder="Search clients...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Basic Information Section -->
                        
                        <div class="card mb-2">
                            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#basicInfoCollapse" role="button">
                                <h5 class="mb-0">Informações Básicas</h5>
                            </div>
                            <div class="collapse show" id="basicInfoCollapse">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-2">
                                            <label class="form-label">Id Cliente:</label>
                                            <input type="text" class="form-control" value="" id="sequel" name="sequel" readonly>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Razão Social:</label>
                                            <input type="text" class="form-control" value="" id="corporate_name" name="corporate_name">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Nome Fantasia:</label>
                                            <input type="text" class="form-control" value="" id="second_name" name="second_name">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Cadastramento:</label>
                                            <input type="text" class="form-control" value="" id="registry" name="registry" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Atualização:</label>
                                            <input type="text" class="form-control" value="" id="registry_update" name="registry_update" readonly>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <label class="form-label">Tipo:</label>
                                            <select class="form-select" name="type" id="type" required>
                                                <option value="Pessoa Jurídica">Pessoa Jurídica</option>
                                                <option value="Pessoa Física">Pessoa Física</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">CNPJ:</label>
                                            <input type="text" class="form-control" value="" id="cpf_cnpj" name="cpf_cnpj">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">IE:</label>
                                            <input type="text" class="form-control" value="" id="state_registration" name="state_registration">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">IM:</label>
                                            <input type="text" class="form-control" value="" id="municipal_registration" name="municipal_registration">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Email</label>
                                            <input type="text" class="form-control" value="" id="email_address" name="email_address">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Telefone:</label>
                                            <input type="text" class="form-control" value="" id="phone_number" name="phone_number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Customer Address Section -->
                        <div class="card mb-2">
                            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#addressCollapse" role="button">
                                <h5 class="mb-0">Endereço do Cliente</h5>
                            </div>
                            <div class="collapse show" id="addressCollapse">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-2">
                                            <label class="form-label">CEP:</label>
                                            <input type="text" class="form-control" value="" id="postal_code" name="postal_code">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Endereço:</label>
                                            <input type="text" class="form-control" value="" id="street" name="street">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Complemento:</label>
                                            <input type="text" class="form-control" value="" id="comp" name="comp">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Bairro:</label>
                                            <input type="text" class="form-control" value="" id="neighbor" name="neighbor">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Cidade:</label>
                                            <input type="text" class="form-control" value="" id="cit" name="cit">
                                        </div>
                                        <div class="col-md-1">
                                            <label class="form-label">UF:</label>
                                            <select class="form-select" id="state_uf" name="state_uf">
                                                {% set states = ['RJ', 'SP', 'MG', 'DF', 'SC', 'ES', 'AC', 'CE', 'AL', 'BA', 'AM', 'SE', 'TO', 'RR', 'PI', 'RN', 'RS', 'PB', 'PR'] %}
                                                {% for state in states %}
                                                    <option value="{{ state }}" {% if cliente.state == state %}selected{% endif %}>{{ state }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-2">
                            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#addressCollapse" role="button">
                                <h5 class="mb-0">Endereço de Cobrança do Cliente</h5>
                            </div>
                            <div class="collapse show" id="addressCollapse">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-2">
                                            <label class="form-label">CEP:</label>
                                            <input type="text" class="form-control" value="" id="postal_code" name="postal_code">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Endereço:</label>
                                            <input type="text" class="form-control" value="" id="street" name="street">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Complemento:</label>
                                            <input type="text" class="form-control" value="" id="comp" name="comp">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Bairro:</label>
                                            <input type="text" class="form-control" value="" id="neighbor" name="neighbor">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Cidade:</label>
                                            <input type="text" class="form-control" value="" id="cit" name="cit">
                                        </div>
                                        <div class="col-md-1">
                                            <label class="form-label">UF:</label>
                                            <select class="form-select" id="state_uf" name="state_uf">
                                                {% set states = ['RJ', 'SP', 'MG', 'DF', 'SC', 'ES', 'AC', 'CE', 'AL', 'BA', 'AM', 'SE', 'TO', 'RR', 'PI', 'RN', 'RS', 'PB', 'PR'] %}
                                                {% for state in states %}
                                                    <option value="{{ state }}" {% if cliente.state == state %}selected{% endif %}>{{ state }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Contract Conditions Section -->
                       <!-- <div class="card mb-2">
                            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#contractCollapse" role="button">
                                <h5 class="mb-0">Condições do Contrato do Cliente</h5>
                            </div>
                            <div class="collapse show" id="contractCollapse">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-3">
                                            <label class="form-label">Fator da taxa de juros:</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" value="" id="interest_rate_factor" name="interest_rate_factor" step="0.01">
                                                <span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Estado:</label>
                                            <input type="text" class="form-control" value="" id="current_state" name="current_state">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Tipo Cobrança:</label>
                                            <input type="text" class="form-control" value="" id="billing_type" name="billing_type">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Data:</label>
                                            <input type="text" class="form-control" value="" id="state_date" name="state_date">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Plano:</label>
                                            <input type="text" class="form-control" value="" id="plan_name" name="plan_name">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Dia Vencimento:</label>
                                            <input type="text" class="form-control" value="" id="due_day" name="due_day">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="card mb-2">
                            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#addressCollapse" role="button">
                                <h5 class="mb-0">Instalações</h5>
                            </div>
                            <div class="collapse show" id="addressCollapse">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-2">
                                            <label class="form-label">CEP:</label>
                                            <input type="text" class="form-control" value="" id="postal_code" name="postal_code">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Endereço:</label>
                                            <input type="text" class="form-control" value="" id="street" name="street">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Complemento:</label>
                                            <input type="text" class="form-control" value="" id="comp" name="comp">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Bairro:</label>
                                            <input type="text" class="form-control" value="" id="neighbor" name="neighbor">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Cidade:</label>
                                            <input type="text" class="form-control" value="" id="cit" name="cit">
                                        </div>
                                        <div class="col-md-1">
                                            <label class="form-label">UF:</label>
                                            <select class="form-select" id="state_uf" name="state_uf">
                                                {% set states = ['RJ', 'SP', 'MG', 'DF', 'SC', 'ES', 'AC', 'CE', 'AL', 'BA', 'AM', 'SE', 'TO', 'RR', 'PI', 'RN', 'RS', 'PB', 'PR'] %}
                                                {% for state in states %}
                                                    <option value="{{ state }}" {% if cliente.state == state %}selected{% endif %}>{{ state }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Other Details Section -->
                        <div class="card">
                            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#otherDetailsCollapse" role="button">
                                <h5 class="mb-0">Outros Detalhes do Cliente</h5>
                            </div>
                            <div class="collapse show" id="otherDetailsCollapse">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <label class="form-label">Observações:</label>
                                            <textarea class="form-control" rows="3" name="observations">{{ cliente.observations }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% include 'js/clientes_popup_js.html' %}
    



