<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Template Base{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icone.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icone_faturamento.png') }}">

    {% include 'extensions/links.html' %}

  

    <!-- DevExtreme JS -->

    {% block styles %}{% endblock %}
</head>

<body class=" {% block body_class %}{% endblock %}">
    {% block header %}
        {% include 'header/model-header.html' %}
    {% endblock %}

    <main class="container-fluid my-4 px-lg-5">
        {% block content %}{% endblock %}
    </main>

    

    {% block scripts %}{% endblock %}
</body>
</html>
