<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "model-header.html" %}
    {% include "links.html" %}
</head>
<body>
    <!-- Mensagens Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container mt-5 mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Clientes</h2>
            <div class="d-flex gap-2"> <!-- Adicionei a classe gap-2 para espaçamento uniforme -->
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClientModal">
                    <i class="bi bi-plus-circle me-2"></i>Criar Novo Cliente
                </button>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateClientModal">
                    <i class="bi bi-gear-wide-connected me-2"></i>Editar Cliente
                </button>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteClientModal">
                    <i class="bi bi-trash me-2"></i>Excluir Cliente
                </button>
                <button class="btn btn-secondary" 
                    onclick="window.location.href=this.getAttribute('action')" 
                    action="{{ url_for('cliente_bp.listar_clientes') }}">
                    <i class="bi bi-search me-2"></i>Listar Todos
                </button>
                <form class="d-flex" role="search" method="GET" action="{{ url_for('cliente_bp.get_id_cliente') }}">
                    <input class="form-control me-2" 
                           type="search" name="search" id="search" placeholder="Razão Social/Contrato/Nome Fantasia" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Localizar</button>
                </form>
            </div>
        </div>
    
        
        {% if not cliente %}
            <div class="alert alert-warning">
                Nenhum cliente encontrado. Por favor, crie um novo cliente ou selecione um existente.
            </div>
        {% else %}
        <!-- Basic Information Card -->
        <div class="card mb-2">
            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#basicInfoCollapse" aria-expanded="true" aria-controls="basicInfoCollapse">
                <h5 class="mb-0">Informações Básicas</h5>
            </div>
            <div class="collapse show" id="basicInfoCollapse">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-2">
                            <label class="form-label">ID Cliente:</label>
                            <input type="text" class="form-control" value="{{ cliente.sequencia }}" id="sequencia" onchange="buscarDadosCliente(this.value)">
                            <div id="loadingCliente" class="input-group-text d-none">
                                <div class="spinner-border spinner-border-sm" role="status"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Cadastramento:</label>
                            <input type="text" class="form-control" value="{{ cliente.cadastramento }}" id="cadastramento" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Atualização:</label>
                            <input type="text" class="form-control" value="{{ cliente.atualizacao }}" id="atualizacao" readonly>
                        </div>
        
                        <div class="col-md-6">
                            <label class="form-label">Razão Social:</label>
                            <input type="text" class="form-control" value="{{ cliente.razao_social }}" id="razao_social" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Nome Fantasia:</label>
                            <input type="text" class="form-control" value="{{ cliente.nome_fantasia }}" id="nome_fantasia" readonly>
                        </div>
        
                        <div class="col-md-3">
                            <label class="form-label">Tipo:</label>
                            <input type="text" class="form-control" value="{{ cliente.tipo }}" id="tipo" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">CNPJ:</label>
                            <input type="text" class="form-control" value="{{ cliente.cnpj }}" id="cnpj" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">IE:</label>
                            <input type="text" class="form-control" value="{{ cliente.ie }}" id="ie" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">IM:</label>
                            <input type="text" class="form-control" value="{{ cliente.im }}" id="im" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">E-mail:</label>
                            <input type="text" class="form-control" value="{{ cliente.email }}" id="email" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Fone:</label>
                            <input type="text" class="form-control" value="{{ cliente.telefone }}" id="telefone" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Customer Address Section -->
        <div class="card mb-2">
            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#addressCollapse" aria-expanded="true" aria-controls="addressCollapse">
                <h5 class="mb-0">Endereço do Cliente</h5>
            </div>
            <div class="collapse show" id="addressCollapse">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-2">
                            <label class="form-label">CEP:</label>
                            <input type="text" class="form-control" value="{{ cliente.cep }}" id="cep" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Endereço:</label>
                            <input type="text" class="form-control" value="{{ cliente.endereco }}" id="endereco" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Complemento:</label>
                            <input type="text" class="form-control" value="{{ cliente.complemento }}" id="complemento" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Bairro:</label>
                            <input type="text" class="form-control" value="{{ cliente.bairro }}" id="bairro" readonly>
                        </div>
                        
                        <div class="col-md-4">
                            <label class="form-label">Cidade:</label>
                            <input type="text" class="form-control" value="{{ cliente.cidade }}" id="cidade" readonly>
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">UF:</label>
                            <input type="text" class="form-control" value="{{ cliente.estado }}" id="estado" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Contract Conditions Section -->
        <div class="card mb-2">
            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#contractCollapse" aria-expanded="true" aria-controls="contractCollapse">
                <h5 class="mb-0">Condições do Contrato do Cliente</h5>
            </div>
            <div class="collapse show" id="contractCollapse">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label class="form-label">Fator moderador da taxa de juros:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ cliente.fator_juros }}" id="fator_juros" readonly>
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Estado:</label>
                            <input type="text" class="form-control status-ativo" value="{{ cliente.estado_atual }}" id="estado_atual" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Tipo Cobrança:</label>
                            <input type="text" class="form-control status-ativo" value="{{ cliente.cobranca_tipo }}" id="cobranca_tipo" readonly>
                        </div>
                        
                        <div class="col-md-3">
                            <label class="form-label">Data:</label>
                            <input type="text" class="form-control" value="{{ cliente.data_estado }}" id="data_estado" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Plano:</label>
                            <input type="text" class="form-control" value="{{ cliente.plano_nome }}" id="plano_nome" readonly>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Dia Vencimento:</label>
                            <input type="text" class="form-control" value="{{ cliente.dia_vencimento }}" id="dia_vencimento" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Other Details Section -->
        <div class="card">
            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#otherDetailsCollapse" aria-expanded="true" aria-controls="otherDetailsCollapse">
                <h5 class="mb-0">Outros Detalhes do Cliente</h5>
            </div>
            <div class="collapse show" id="otherDetailsCollapse">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Observações:</label>
                            <textarea class="form-control" rows="3" id="observacao" readonly>{{ cliente.observacao }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    
    {% include 'popup/popup_cliente.html' %}
    {% include 'popup/popup_delete_cliente.html' %}
    {% include 'popup/popup_editar_cliente.html' %}
    {% include 'js/clientes_js.html' %}

    </div><br><br><br><br><br>

</body>
</html>
