{% extends "base_template.html" %}

{% block title %}Contratos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_contratos.css') }}">
{% endblock %}

{% block content %}
    <!-- Mensagens Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
     
    <div class="container-fluid mt-5 mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Contratos</h2>
            <div class="d-flex gap-2"> <!-- Mesma classe gap-2 dos clientes -->
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContractModal">
                    <i class="bi bi-plus-circle me-2"></i>Criar Novo Contrato
                </button>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateContractModal">
                    <i class="bi bi-gear-wide-connected me-2"></i>Editar Contrato
                </button>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteContractModal">
                    <i class="bi bi-trash me-2"></i>Excluir Contrato
                </button>
                <button class="btn btn-secondary" 
                    onclick="window.location.href=this.getAttribute('action')" 
                    action="{{ url_for('contratos_bp.listar_contratos') }}">
                    <i class="bi bi-search me-2"></i>Listar Todos
                </button>
                <form class="d-flex" role="search" method="GET" action="{{ url_for('contratos_bp.get_id_contratos') }}">
                    <input class="form-control me-2" 
                        type="search" name="search" id="search" placeholder="Razão Social/Contrato/Nome Fantasia" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Localizar</button>
                </form>
            </div>
        </div>


        
        {% if not contrato %}
            <div class="alert alert-warning">
                Nenhum contrato encontrado. Por favor, crie um novo contrato ou selecione um existente.
            </div>
        {% else %}
        
            <!-- Basic Contract Information -->
            <div class="card mb-2">
                <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#basicInfoCollapse" aria-expanded="true" aria-controls="basicInfoCollapse">
                    <h5 class="mb-0">Informações Básicas</h5>
                </div>
                <div class="collapse show" id="basicInfoCollapse">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-2">
                                <label class="form-label">Nº Contrato:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="numeroContrato"
                                        value="{{ contrato.numero if contrato else '' }}" 
                                        onchange="buscarDadosContrato(this.value)">
                                    
                                    <!-- Botão de buscar por código -->
                                    <button class="btn btn-secondary" type="button" onclick="buscarDadosContrato(numeroContrato.value)">
                                        <i class="bi bi-search"></i>
                                    </button>

                                    <!-- Botão de listagem para abrir modal -->
                                    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#listarContratosModal">
                                        <i class="bi bi-card-list"></i>
                                    </button>

                                    <!-- Spinner de loading -->
                                    <span id="loadingContrato" class="input-group-text d-none">
                                        <div class="spinner-border spinner-border-sm" role="status"></div>
                                    </span>
                                </div>
                            </div>


                            <div class="col-md-5">
                                <label class="form-label">Razão Social:</label>
                                <input type="text" class="form-control" id="razao_social" name="razao_social" value="{{ contrato.razao_social }}" readonly>
                            </div>
                            <div class="col-md-5">
                                <label class="form-label">Nome Fantasia:</label>
                                <input type="text" class="form-control" id="nome_fantasia" name="nome_fantasia" value="{{ contrato.nome_fantasia }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Cadastramento:</label>
                                <input type="text" class="form-control" id="cadastramento" name="cadastramento" value="{{ contrato.cadastramento.strftime('%d/%m/%Y') if contrato.cadastramento else '' }}" readonly>
                            </div>
                            
                            <div class="col-md-2">
                                <label class="form-label">Atualização:</label>
                                <input type="text" class="form-control" id="atualizacao" name="atualizacao" value="{{ contrato.atualizacao.strftime('%d/%m/%Y') if contrato.atualizacao else '' }}" readonly>
                            </div>
                            
                            <div class="col-md-2">
                                <label class="form-label">Tipo de Contrato:</label>
                                <input type="text" class="form-control" id="tipo" name="tipo" value="{{ contrato.tipo }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Contato:</label>
                                <input type="text" class="form-control" id="contato" name="contato" value="{{ contrato.contato }}" readonly>
                            </div>
                            <div class="col-md-1">
                                <label class="form-label">Id Portal:</label>
                                <input type="text" class="form-control" id="id_matriz_portal" name="id_matriz_portal" value="{{ contrato.id_matriz_portal }}" readonly>
                            </div>
                            
                            <div class="col-md-3">
                                <label class="form-label">E-mail:</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ contrato.email }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Fone:</label>
                                <input type="text" class="form-control" id="telefone" name="telefone" value="{{ contrato.telefone }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">CPF/CNPJ:</label>
                                <input type="text" class="form-control" id="cnpjCPFContrato" name="cnpjCPFContrato" value="{{ contrato.cnpj_cpf }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Tipo:</label>
                                <input type="text" class="form-control" id="tipo_pessoa" name="tipo_pessoa" value="{{ contrato.tipo_pessoa }}" readonly>
                            </div>
                            
                            <div class="col-md-3">
                                <label class="form-label">Revenda:</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="revenda" 
                                        name="revenda" 
                                        value="{{ contrato.revenda if contrato.revenda else 'Não possui revenda' }}" 
                                        readonly
                                        >

                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Distribuidor:</label>
                                <input type="text" class="form-control" id="vendedor" name="vendedor" value="{{ contrato.vendedor if contrato.vendedor else 'Não possui vendedor' }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card mb-2">
                <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#addressCollapse">
                    <h5 class="mb-0">Endereço do Contrato</h5>
                </div>
                <div class="collapse" id="addressCollapse">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-2">
                                <label class="form-label">CEP:</label>
                                <input type="text" class="form-control" name="cep"  id="cep" value="{{ contrato.cep }}" readonly>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Endereço:</label>
                                <input type="text" class="form-control" name="endereco" id="endereco" value="{{ contrato.endereco }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Complemento:</label>
                                <input type="text" class="form-control" id="complemento" name="complemento" value="{{ contrato.complemento }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Bairro:</label>
                                <input type="text" class="form-control" id="bairro" name="bairro" value="{{ contrato.bairro }}" readonly>
                            </div>
                            
                            <div class="col-md-2">
                                <label class="form-label">Cidade:</label>
                                <input type="text" class="form-control" id="cidade" value="{{ contrato.cidade }}" readonly>
                            </div>
                            <div class="col-md-1">
                                <label class="form-label">UF:</label>
                                <input type="text" class="form-control" id="estado" value="{{ contrato.estado }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====================== -->
            <!-- SEÇÃO DE CLIENTES -->
            <!-- ====================== -->
            <div class="card mb-2">
                <div class="card-header section-header d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" href="#relationCollapse">
                    <h5 class="mb-0">Relação de Clientes Vinculados ao Contrato</h5>
                </div>

                <div class="collapse" id="relationCollapse">
                    <div class="card-body">
                    <div class="row g-2">
                        <div class="table-responsive" style="width: 100%; max-width: 5000px; margin: 0 auto;">
                        <table class="clientes-table table table-striped table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th>Código</th>
                                <th>Nome Fantasia</th>
                                <th>Razão Social</th>
                                <th>Atividade</th>
                                <th>Cidade</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if clientes %}
                                {% for cliente in clientes %}
                                <tr>
                                <td>{{ loop.index }}</td>  <!-- Número automático -->
                                <td>
                                    <a href="">
                                        {{ cliente.sequencia }}
                                    </a>
                                </td>

                                <td>{{ cliente.nome_fantasia }}</td>
                                <td>{{ cliente.razao_social }}</td>
                                <td>{{ cliente.atividade }}</td>
                                <td>{{ cliente.cidade }}</td>
                                <td>
                                    <span class="status-badge 
                                    {% if cliente.estado_atual and cliente.estado_atual|upper == 'ATIVO' %}
                                        status-ativo
                                    {% else %}
                                        status-inativo
                                    {% endif %}">
                                    {{ cliente.estado_atual or 'N/A' }}
                                    </span>
                                </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">
                                Nenhum cliente relacionado ao contrato encontrado.
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>

                        <!-- Paginação -->
                        <div id="clientes-pagination" class="d-flex justify-content-center mt-3">
                            <button id="prevPage" class="btn btn-outline-primary btn-sm me-2" disabled>Anterior</button>
                            <span id="pageInfo" class="align-self-center"></span>
                            <button id="nextPage" class="btn btn-outline-primary btn-sm ms-2" disabled>Próxima</button>
                        </div>

                        <!-- Botões de Ação -->
                        <div class="container mt-5 mb-4">
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-success me-2 btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#vincularContractModal">
                                <i class="fas fa-users"></i> Vincular Cliente
                                </button>
                            </div>

                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-primary me-2 btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#cliente_createModal">
                                <i class="bi bi-plus-circle me-2"></i> Criar Cliente
                                </button>
                            </div>

                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-danger me-2 btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#desvincularContractModal">
                                <i class="bi bi-trash me-2"></i> Desvincular Cliente
                                </button>
                            </div>
                            </div>
                        </div>

                        </div> <!-- table-responsive -->
                    </div> <!-- row -->
                    </div> <!-- card-body -->
                </div> <!-- collapse -->
            </div> <!-- card -->






            <div class="card mb-2">
                <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#detailsCollapse">
                    <h5 class="mb-0">Detalhes do Contrato</h5>
                </div>
                <div class="collapse" id="detailsCollapse">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-2">
                                <label class="form-label">Dia Vencimento:</label>
                                <input type="text" class="form-control" id="dia_vencimento" value="{{ contrato.dia_vencimento }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Fator Taxa de Juros:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fator_juros" value="{{ contrato.fator_juros }}" readonly>
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Estado:</label>
                                <input type="text" class="form-control status-{{ contrato.estado_contrato.lower() }}" id="estado_contrato" value="{{ contrato.estado_contrato }}" readonly>
                            </div>
                            
                            <div class="col-md-2">
                                <label class="form-label">Data:</label>
                                <input type="text" class="form-control" id="data_estado" value="{{ contrato.data_estado.strftime('%d/%m/%Y') if contrato.data_estado else '' }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Motivo:</label>
                                <input type="text" class="form-control" id="motivo_estado" value="{{ contrato.motivo_estado }}" readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Valor Total do Contrato:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="valor_contrato" value="{{ contrato.valor_contrato }}" readonly>
                                            <span class="input-group-text">R$</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <!-- ====================== -->
        <!-- SEÇÃO DE PLANOS -->
        <!-- ====================== -->
        <div class="card mb-2">
        <div class="card-header section-header d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" href="#plansCollapse">
            <h5 class="mb-0">Plano Associado ao Contrato</h5>
        </div>

        <div class="collapse" id="plansCollapse">
            <div class="card-body">
            <div class="row g-2">
                <div class="table-responsive" style="width: 100%; max-width: 5000px; margin: 0 auto;">
                <table class="planos-table table table-striped table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th>Código</th>
                        <th>Nome do Plano</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if contrato.planos and contrato.planos|length > 0 %}
                        {% for plano in contrato.planos %}
                        <tr>
                        <td>{{ plano.id }}</td>
                        <td>{{ plano.codigo }}</td>
                        <td>{{ plano.nome }}</td>
                        <td>R$ {{ "%.2f"|format(plano.valor) }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                        <i class="bi bi-exclamation-circle me-2"></i>
                        Nenhum plano associado encontrado
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

                <!-- Paginação de Planos -->
                <div id="planos-pagination" class="d-flex justify-content-center mt-3">
                    <button id="planos-prevPage" class="btn btn-outline-primary btn-sm me-2" disabled>Anterior</button>
                    <span id="planos-pageInfo" class="align-self-center"></span>
                    <button id="planos-nextPage" class="btn btn-outline-primary btn-sm ms-2" disabled>Próxima</button>
                </div>

                <!-- Botões de Ação -->
                <div class="container mt-5 mb-4">
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-success me-2 btn-sm"
                                data-bs-toggle="modal" data-bs-target="#vincularPlanoContractModal">
                        <i class="fas fa-list-alt"></i> Vincular Plano
                        </button>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary me-2 btn-sm"
                                data-bs-toggle="modal" data-bs-target="#createPlanosModal">
                        <i class="bi bi-plus-circle me-2"></i> Criar Plano
                        </button>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-danger me-2 btn-sm"
                                data-bs-toggle="modal" data-bs-target="#desvincularPlanoContractModal">
                        <i class="bi bi-trash me-2"></i> Desvincular Plano
                        </button>
                    </div>
                    </div>
                </div>

                </div> <!-- /table-responsive -->
            </div> <!-- /row -->
            </div> <!-- /card-body -->
        </div> <!-- /collapse -->
        </div> <!-- /card -->


        <!-- Seção de Produtos Associados -->
        <div class="card mb-2">
            <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#productsCollapse">
                <h5 class="mb-0">Produtos Associados ao Contrato</h5>
            </div>
            <div class="collapse" id="productsCollapse">
                <div class="card-body">
                    <div class="row g-2">
                        <div class="table-responsive" style="width: 100%; max-width: 5000px; margin: 0 auto;">
                            <table class="produtos-table table table-striped table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th>Código</th>
                                        <th>Nome do Produto</th>
                                        <th>Descrição</th>
                                        <th>Quantidade</th>
                                        <th>Preço Unitário</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if contrato.produtos_associados %}
                                        {% for assoc in contrato.produtos_associados %}
                                        <tr>
                                            <td>{{ assoc.produto.codigo }}</td>
                                            <td>{{ assoc.produto.nome }}</td>
                                            <td>{{ assoc.produto.descricao or 'N/A' }}</td>
                                            <td>{{ assoc.quantidade }}</td>
                                            <td>R$ {{ "%.2f"|format(assoc.valor_unitario|float) if assoc.valor_unitario else '0.00' }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <i class="bi bi-exclamation-circle me-2"></i>
                                                Nenhum produto associado encontrado
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <!-- Paginação específica para Planos -->
                            <div id="produto-pagination" class="d-flex justify-content-center mt-3">
                                <button id="produto-prevPage" class="btn btn-outline-primary btn-sm me-2" disabled>Anterior</button>
                                <span id="produto-pageInfo" class="align-self-center"></span>
                                <button id="produto-nextPage" class="btn btn-outline-primary btn-sm ms-2" disabled>Próxima</button>
                            </div>
                            <div class="container mt-5 mb-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    
                                        <div class="d-flex gap-2">    
                                            <button type="button" class="btn btn-success me-2 btn-sm" data-bs-toggle="modal" data-bs-target="#vincularProdutoContractModal">
                                                <i class="bi bi-shop"></i>  Vincular Produto
                                            </button>
                                        </div>

                                        <div class="d-flex gap-2">    
                                            <button type="button" class="btn btn-primary me-2 btn-sm" data-bs-toggle="modal" data-bs-target="#createProdutoModal">
                                                <i class="bi bi-plus-circle me-2"></i>  Criar Produto
                                            </button>
                                        </div>
                                        <div class="d-flex gap-2">    
                                            <button type="button" class="btn btn-danger me-2 btn-sm" data-bs-toggle="modal" data-bs-target="#desvincularProdutoContractModal">
                                                <i class="bi bi-trash me-2"></i>Desvincular Produto
                                            </button>
                                        </div>
                                    </div>   
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    {% endif %}
    
    
</div>  

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/contratos/contratos.js') }}"></script>

    
    <!--Popus contratos-->
    {% include 'popup/contratos/popup_delete_contrato.html' %}
    {% include 'popup/contratos/popup_contratos.html' %}
    {% include 'popup/contratos/popup_editar_contrato.html' %}
    {% include 'popup/contratos/popup_listar_contratos.html' %}


    <!-- Popups clientes-->
    {% include 'popup/contratos/popup_contratos_clientes.html' %}

    <!-- Popups produtos-->
    {% include 'popup/produto/popup_produto.html' %}

    <!--Popus planos-->
    {% include 'popup/planos/popup_planos.html' %}

     <!--Popus vinculos-->
    {% include 'popup/contratos/popup_vincular_produto.html' %}
    {% include 'popup/contratos/popup_vincular_plano.html' %}
    {% include 'popup/contratos/popup_vincular_cliente.html' %}
    {% include 'popup/contratos/popup_desvincular_cliente.html' %}
    {% include 'popup/contratos/popup_desvincular_produto.html' %}
    {% include 'popup/contratos/popup_desvincular_plano.html' %}


    <!-- Links úteis -->
    {% include 'extensions/links_popup.html' %}
        


{% endblock %}

    

   
