{% extends "base_template.html" %}

{% block title %}Contratos{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<!-- Centraliza o conteúdo da página -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 10vh;">
    <!-- Moldura da janela -->
    <div class="col-md-6 p-4" style="border: 2px solid #ddd; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #fff;">
        <!-- Centraliza o título -->
        <h1 class="text-center mb-4">Localizar CEP</h1>
        
        <!-- Formulário -->
        <div class="mb-3">
            <label for="cep" class="form-label">CEP:</label>
            <input type="text" class="form-control" name="cep" id="cep" value="">
        </div>
        
        <!-- Botão de pesquisa -->
        <div class="mb-3 text-center">
            <button type="button" class="btn btn-primary" onclick="buscarEnderecoPorCep()">Buscar Endereço</button>
        </div>

        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço:</label>
            <input type="text" class="form-control" name="endereco" id="endereco" value="" readonly>
        </div>
        <div class="mb-3">
            <label for="bairro" class="form-label">Bairro:</label>
            <input type="text" class="form-control" id="bairro" name="bairro" value="" readonly>
        </div>
        <div class="mb-3">
            <label for="cidade" class="form-label">Cidade:</label>
            <input type="text" class="form-control" id="cidade" value="" readonly>
        </div>
        <div class="mb-3">
            <label for="estado" class="form-label">UF:</label>
            <input type="text" class="form-control" id="estado" value="" readonly>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include 'js/ferramentas_js.html' %}
{% endblock %}

