{% extends "base_template.html" %}

{% block title %}Instalações{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_contratos.css') }}">


{% endblock %}

{% block content %}

<div class="container-fluid mt-3 mb-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Instalações</h2>
        <div class="d-flex gap-2 flex-wrap align-items-center">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createInstalacaoModal">
                <i class="bi bi-plus-circle me-2"></i>Criar Instalação
            </button>

            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateInstalacaoModal">
                <i class="bi bi-gear-wide-connected me-2"></i>Editar Instalação
            </button>

            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteInstalacaoModal">
                <i class="bi bi-trash me-2"></i>Excluir Instalação
            </button>

            <button class="btn btn-secondary"
                    onclick="window.location.href=this.getAttribute('action')"
                    action="{{ url_for('instalacoes_bp.listar_instalacoes') }}">
                <i class="bi bi-search me-2"></i>Listar Todos
            </button>

            <div class="d-flex align-items-center" style="min-width: 300px;">
                <input class="form-control me-2"
                       type="search"
                       name="search"
                       id="search"
                       placeholder="Código/Razão Social">
                       <button class="btn btn-outline-success" type="button" onclick="buscarInstalacoes()">
                            Localizar
                       </button>
            </div>
        </div>
    </div>


        {% if instalacoes %}
        <div class="card mb-2">
            <div class="card-header section-header"
                 data-bs-toggle="collapse"
                 data-bs-target="#basicInfoCollapse">
                <h5 class="mb-0">Informações Básicas</h5>
            </div>

            <div class="collapse show" id="basicInfoCollapse">
                <div class="card-body">
                    <div class="row g-3">

                        <div class="col-md-3">
                            <label for="codigo_instalacao" class="form-label">Código Instalação:</label>
                            <div class="d-flex gap-2">
                                <input type="text"
                                    id="codigo_instalacao"
                                    name="codigo_instalacao"
                                    value="{{ instalacoes.codigo_instalacao }}"
                                    class="form-control">

                                <button class="btn btn-secondary"
                                        type="button"
                                        onclick="buscarDadosInstalacao(document.getElementById('codigo_instalacao').value)">
                                    <i class="bi bi-search"></i>
                                </button>

                                <button class="btn btn-secondary"
                                        type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#listarInstalacoesModal">
                                    <i class="bi bi-card-list"></i>
                                </button>

                                <button class="btn btn-secondary"
                                        type="button"
                                        onclick="buscarProximaInstalacao()">
                                    <i class="bi bi-arrow-right"></i>
                                </button>

                                <span class="input-group-text d-none" id="loadingCliente">
                                    <span class="spinner-border spinner-border-sm" role="status"></span>
                                </span>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <label for="razao_social">Razão Social:</label>
                            <input type="text"
                                   id="razao_social"
                                   name="razao_social"
                                   value="{{ instalacoes.razao_social }}"
                                   class="form-control"
                                   readonly>
                        </div>

                        <div class="col-md-1">
                            <label for="id_portal">ID Portal:</label>
                            <input type="text"
                                   id="id_portal"
                                   name="id_portal"
                                   value="{{ instalacoes.id_portal }}"
                                   class="form-control"
                                   readonly>
                        </div>

                        <div class="col-md-2">
                            <label for="cadastramento">Cadastramento:</label>
                            <input type="text"
                                   id="cadastramento"
                                   name="cadastramento"
                                   value="{{ instalacoes.cadastramento }}"
                                   class="form-control"
                                   readonly>
                        </div>

                        <div class="col-md-2">
                            <label for="atualizacao">Atualização:</label>
                            <input type="text"
                                id="atualizacao"
                                name="atualizacao"
                                value="{{ instalacoes.atualizacao.strftime('%d/%m/%Y') }}"
                                class="form-control"
                                readonly>
                        </div>

                        <div class="col-md-1">
                            <label for="status">Status:</label>
                            <input type="text"
                                   id="status"
                                   name="status"
                                   value="{{ instalacoes.status }}"
                                   class="form-control"
                                   readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endif %}

        <div class="card mb-2">
            <div class="card-header section-header"
                 data-bs-toggle="collapse"
                 data-bs-target="#addressCollapse">
                <h5 class="mb-0">Endereço de Instalação</h5>
            </div>

            <div class="collapse" id="addressCollapse">
                <div class="card-body">
                    <div class="row g-3">

                        <div class="col-md-1">
                            <label for="cep">CEP:</label>
                            <input type="text" id="cep" name="cep" class="form-control" readonly>
                        </div>

                        <div class="col-md-4">
                            <label for="endereco">Endereço:</label>
                            <input type="text" id="endereco" name="endereco" class="form-control" readonly>
                        </div>

                        <div class="col-md-3">
                            <label for="bairro">Bairro:</label>
                            <input type="text" id="bairro" name="bairro" class="form-control" readonly>
                        </div>

                        <div class="col-md-3">
                            <label for="cidade">Cidade:</label>
                            <input type="text" id="cidade" name="cidade" class="form-control" readonly>
                        </div>

                        <div class="col-md-1">
                            <label for="uf">UF:</label>
                            <input type="text" id="uf" name="uf" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header section-header"
                 data-bs-toggle="collapse"
                 data-bs-target="#clientesCollapse">
                <h5 class="mb-0">Clientes Associados</h5>
            </div>

            <div class="collapse" id="clientesCollapse">
                    <div class="card-body">
                    <div class="row g-2">
                        <div class="table-responsive" style="width: 100%; max-width: 5000px; margin: 0 auto;">
                        <table class="clientes-table table table-striped table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th>Código</th>
                                <th>Nome Fantasia</th>
                                <th>Razão Social</th>
                                <th>CPF/CNPJ</th>
                                <th>Cidade</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if clientes %}
                                {% for cliente in clientes %}
                                <tr>
                                <td>
                                    <a href="{{ url_for('cliente_bp.render_cliente', sequencia=cliente.sequencia) }}">
                                        {{ cliente.sequencia }}
                                    </a>
                                </td>

                                <td>{{ cliente.nome_fantasia }}</td>
                                <td>{{ cliente.razao_social }}</td>
                                <td>{{ cliente.cnpj_cpf }}</td>
                                <td>{{ cliente.cidade }}</td>
                                <td class="text-center">
                                    <span class="status-badge 
                                    {% if cliente.estado_atual and cliente.estado_atual|upper == 'ATIVO' %}
                                        status-ativo
                                    {% else %}
                                        status-inativo
                                    {% endif %}">
                                    {{ cliente.estado_atual or 'N/A' }}
                                    </span>
                                </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">
                                Nenhum cliente relacionado a instalação foi encontrado.
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>

                        <div id="clientes-pagination" class="d-flex justify-content-center mt-3">
                            <button id="prevPage" class="btn btn-outline-primary btn-sm me-2" disabled>Anterior</button>
                            <span id="pageInfo" class="align-self-center"></span>
                            <button id="nextPage" class="btn btn-outline-primary btn-sm ms-2" disabled>Próxima</button>
                        </div>

                        <div class="container mt-5 mb-4">
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-success"
                                        data-bs-toggle="modal" data-bs-target="#vincularContractModal">
                                <i class="fas fa-users"></i> Vincular Cliente
                                </button>
                            </div>

                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#createClientModal">
                                <i class="bi bi-plus-circle me-2"></i> Criar Cliente
                                </button>
                            </div>

                            <div class="d-flex gap-2">
                                <button type="button" class="btn btn-danger"
                                        data-bs-toggle="modal" data-bs-target="#desvincularContractModal">
                                <i class="bi bi-trash me-2"></i> Desvincular Cliente
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="card mb-2">
            <div class="card-header section-header"
                 data-bs-toggle="collapse"
                 data-bs-target="#observacaoCollapse">
                <h5 class="mb-0">Observações</h5>
            </div>

            <div class="collapse" id="observacaoCollapse">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="observacao">Observações:</label>
                            <textarea class="form-control"
                                      rows="3"
                                      id="observacao"
                                      name="observacao"
                                      readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/instalacoes/instalacoes.js') }}"></script>

{% include 'extensions/links_popup.html' %}

<!-- Controladores POPUP -->
{% include 'popup/instalacoes/popup_criar_instalacao.html' %}
{% include 'popup/instalacoes/popup_editar_instalacao.html' %}
{% include 'popup/instalacoes/popup_delete_instalacoes.html' %}
{% include 'popup/instalacoes/popup_listar_instalacoes.html' %}

<!-- Vinculos Cliente -->
{% include 'popup/clientes/popup_cliente.html' %}

{% endblock %}
