<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/icone_faturamento.png') }}">
    {% include 'extensions/links.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body class="index-page">
    <div class="login-container">
        <h1>Login</h1>
        
        <div class="message-flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        
        <div class="Login">
            <form method="POST" action="/login">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                
                <div class="select-container">
                    <select name="empresa" id="empresa" class="modern-select" required>
                        <option value="">Carregando empresas...</option>
                    </select>
                    <div class="select-arrow">
                        <svg width="12" height="6" viewBox="0 0 12 8" fill="none">
                            <path d="M1 1.5L6 6.5L11 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
                <button type="submit" class="btn-btn-primary">Enviar</button>
                <div class="mt-3 text-center">
                        <a href="">Esqueci minha senha</a>
                </div>
            </form>
        </div>
    </div>

 <script src="{{ url_for('static', filename='js/login/login.js') }}"></script>
</body>
</html>