<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faturamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/icone_faturamento.png') }}">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.6/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.6/css/dx.light.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/21.2.6/js/dx.all.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">     
</head>

<body class="index-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" height="70">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopo"
                aria-controls="navbarTopo" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTopo">
                <ul class="navbar-nav mx-auto">

                    <!-- Contratos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="contratosDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciamento de Contratos
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/contratos">Contratos</a>
                            <a class="dropdown-item" href="/revendas">Revendas</a>
                            <a class="dropdown-item" href="/vendedores">Distribuidores</a>
                        </div>
                    </li>

                    <!-- Clientes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciamento de Clientes
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/clientes">Clientes</a>
                            <a class="dropdown-item" href="/instalacoes">Instalações</a>
                        </div>
                    </li>

                    <!-- Produtos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="produtosDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciamento de Produtos
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/planos">Planos</a>
                            <a class="dropdown-item" href="/produtos">Produtos</a>
                        </div>
                    </li>

                    <!--<li class="nav-item"><a class="nav-link" href="/titulos">Títulos</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="/faturamento">Faturamento</a></li>
                    <li class="nav-item"><a class="nav-link" href="/notas">Notas Fiscais</a></li>
                    <li class="nav-item"><a class="nav-link" href="/relatorios">Relatórios</a></li>

                    <!-- Ferramentas -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ferramentasDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ferramentas
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/ferramentas">Localizar CEP</a>
                        </div>
                    </li>

                    <!-- Dashboard -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dashboardDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dashboard
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/dashboard_contratos">Contratos</a>
                        </div>
                    </li>

                    <!--<li class="nav-item"><a class="nav-link" href="/produtos">Documentação</a></li>-->
                </ul>

                <!-- Usuário logado e botão sair -->
                <span class="navbar-text mr-3">
                    {% if session.get('username') %}
                        <strong style="color: rgb(82, 157, 255)">{{ session['username'] }}</strong>
                    {% endif %}
                </span>

                <form action="/logout" method="POST" class="form-inline my-2 my-lg-0">
                    <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Sair</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <!-- Aqui fica o conteúdo da sua página -->
    </div>

    {% include 'js/header_js.html' %}
</body>

<br>
    <br>
