
<footer id="footer" class="footer">
    <div class="container-fluid">
        <div class="copyright text-center">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Comnect</strong> <span>Todos os direitos reservados</span></p>
        </div>
        <div class="social-links d-flex justify-content-center mt-2">
            <a href="https://www.linkedin.com/company/wnb/mycompany/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="http://www.comnect.com.br/"><i class="fa-brands fa-chrome"></i></a>
        </div>
        <div class="credits mt-2">
            Designed by <a href="https://github.com/sullyanoo?tab=overview&from=2024-09-01&to=2024-09-30">Luciano Olegario</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a42fb6df6b.js" crossorigin="anonymous"></script>
</footer>