{% extends "base_template.html" %}

{% block title %}Produtos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_listar.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 mb-2">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="clientes-title m-0">Produtos</h2>
        <div class="d-flex gap-1">  
            <button class="btn btn-primary btn-sm rounded" data-bs-toggle="modal" data-bs-target="#createProdutoModal">
                <i class="bi bi-plus-circle me-2"></i>Adicionar Produto
            </button>
            
            <button class="btn btn-warning btn-sm rounded" data-bs-toggle="modal" data-bs-target="#editProdutoModal">
                <i class="bi bi-gear-wide-connected me-2"></i> Editar Produto
            </button>

            <button class="btn btn-danger btn-sm rounded" data-bs-toggle="modal" data-bs-target="#deleteProdutoModal">
                <i class="bi bi-trash me-2"></i> Excluir Produto
            </button>
        </div>
    </div><br>


        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-light">
                    <tr>
                        <th class="py-3 px-4">Código</th>
                        <th class="py-3 px-4">Nome Produto</th>
                        <th class="py-3 px-4">Descrição</th>
                        <th class="py-3 px-4">Preço</th>
                        <th class="py-3 px-4">Status</th>
                        <th class="py-3 px-4">Data de Criação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td class="py-3 px-4">{{ produto.codigo }}</td>
                        <td class="py-3 px-4">{{ produto.nome }}</td>
                        <td class="py-3 px-4">{{ produto.descricao }}</td>
                        <td class="py-3 px-4">{{ produto.preco_base }}</td>
                        <td class="py-3 px-4">{{ produto.ativo }}</td>
                        <td class="py-3 px-4">{{ produto.created_at.strftime('%d/%m/%Y') }}</td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
  
</div>

       
{% endblock %}

{% block scripts %}
{% include 'popup/produto/popup_editar_produto.html' %}
{% include 'popup/produto/popup_produto.html' %}
{% include 'popup/produto/popup_delete_produto.html' %}
{% endblock %}
