{% extends "base_template.html" %}

{% block title %}Vendedores{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_listar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_revendas.css') }}">
{% endblock %}

{% block content %}

<div class="container mt-8 mb-2">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Distribuidores</h2>
        <div class="d-flex gap-2">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteVendedoresModal">
                <i class="bi bi-trash me-2"></i>Excluir
            </button>
            <button class="btn btn-secondary" onclick="window.location.href=this.getAttribute('action')" 
                    action="{{ url_for('vendedores_bp.get_vendedores') }}">
                <i class="bi bi-search me-2"></i>Listar Todos
            </button>
            <form class="d-flex" role="search" method="GET" action="">
                <input class="form-control me-2" type="search" name="search" id="search" 
                       placeholder="Nome/CNPJ/Código" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Localizar</button>
            </form>
        </div>
    </div>

    <!-- Seção de Informações Básicas -->
    <div class="card mb-2">
        <div class="card-header section-header d-flex justify-content-between align-items-center" 
             data-bs-toggle="collapse" data-bs-target="#basicInfoCollapse" 
             aria-expanded="true" aria-controls="basicInfoCollapse">
            <h5 class="mb-0">Informações Básicas</h5>
        </div>
        <div class="collapse show" id="basicInfoCollapse">
            <div class="card-body">
                <form method="POST" action="{{ url_for('vendedores_bp.insert_vendedores') }}">
                    <div class="row g-3">
                        <div class="col-md-2">
                            <label for="nome">Código:</label>
                            <input type="text" id="codigo" name="codigo" class="form-control" readonly>
                        </div>
                        <div class="col-md-2">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome_vendedor" name="nome_vendedor" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label for="nome">CPF:</label>
                            <input type="text" id="cpf_vendedor" name="cpf_vendedor" class="form-control" required>
                        </div>
                        <div class="col-md-2">
                            <label for="cnpj">Telefone:</label>
                            <input type="text" id="telefone_vendedor" name="telefone_vendedor" class="form-control" required>
                        </div>
                        
                        <div class="col-md-2">
                            <label for="status">E-mail:</label>
                            <input type="text" id="email_vendedor" name="email_vendedor" class="form-control" required>
                        </div>
                        <div class="col-md-2">
                            <label for="id_conta">Status:</label>
                            <select id="status" name="status" class="form-select">
                                <option value="1" selected>Ativo</option>
                                <option value="0">Inativo</option>
                            </select>
                        </div>
                    </div>
            </div>
        </div>
    </div>


    <!-- Botões de ação -->
    <div class="d-flex justify-content-end mt-3 gap-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/revendas" class="btn btn-secondary">Cancelar</a>
    </div>
    </form>
</div>
       
{% endblock %}

{% block scripts %}
{% include 'js/vendedores/vendedores_js.html' %}
{% include 'popup/vendedores/popup_delete_vendedores.html' %}
{% endblock %}