<script>
   function voltar() {
    window.history.back();
  } 

  function home() {
    location.reload();
  }

  // Função para alternar o sidebar
  function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      const content = document.getElementById('content');
      const toggleBtn = document.getElementById('sidebar-toggle');
      
      sidebar.classList.toggle('collapsed');
      content.classList.toggle('expanded');
      
      // Alterna o ícone
      if (sidebar.classList.contains('collapsed')) {
          toggleBtn.innerHTML = '<i class="fas fa-chevron-right"></i>';
      } else {
          toggleBtn.innerHTML = '<i class="fas fa-chevron-left"></i>';
      }
  }

        // Função para alternar a exibição do submenu
        function toggleSubmenu(submenuId) {
            var submenu = document.getElementById(submenuId);
            if (submenu.style.display === "none" || submenu.style.display === "") {
                submenu.style.display = "block";
            } else {
                submenu.style.display = "none";
            }
        }

        // Função para alternar o ícone de seta
        function toggleArrow(arrowId) {
            var arrow = document.getElementById(arrowId);
            if (arrow.classList.contains("fa-chevron-down")) {
                arrow.classList.remove("fa-chevron-down");
                arrow.classList.add("fa-chevron-up");
            } else {
                arrow.classList.remove("fa-chevron-up");
                arrow.classList.add("fa-chevron-down");
            }
        }
</script>